@use '../../utils/variables' as v;
@use '../../utils/functions' as f;
@use '../../utils/mixins' as *;
@use '../../utils//extends' as *;

.about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    row-gap: 25px;
    
    @media(min-width: 550px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 30%;
        column-gap: 18px;
    }

    @media (min-width: 1024px) {
        column-gap: 48px;
    }
}

.about {
    @extend %section;
    max-width: 1040px;
    margin-bottom: 12px;

    &-title {
        font-size: 3rem;
        line-height: 45px;
        text-transform: uppercase;
        margin-bottom: 28px;
        text-wrap: balance;

        @media(min-width: 550px) and (max-width: 825px) {
            line-height: 60px;  
            font-size: 3.5rem;              
        }

        @media(min-width: 550px) {
            line-height: 75px;  
            font-size: 4rem;              
        }

        @media (min-width: 1024px) {
            line-height: 90px;  
            font-size: 4.5rem;
            margin-bottom: 42px;
        }
    }

    &-content{
        width: 100%;
        padding: 16px 0;
        // grid-column: 1 / 2;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 19px;
        opacity: .85;
        grid-row: 1 / 2;

    
        @media(min-width: 550px) {
            padding: 0;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .text {
            line-height: 22px;
            font-family: f.getFont('main-font');
            font-weight: 500;
            font-size: .9rem;

            @media(min-width: 550px) {
                line-height: 28px;
            }

            @media (min-width: 1024px) {
                line-height: 32px;
            }
        }
    }

    &-tools {
        grid-row: 2 / 3;

        @media(min-width: 550px) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}

.tools {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;

    @media(min-width: 550px) and (max-width:1024px){
        gap: 24px;
    }

    @media (min-width: 1024px) {
        gap: 32px;
    }

    &__li{
        &-title{
            font-size: 1rem;
            margin-bottom: 5px;

            @media(min-width: 550px) {
                margin-bottom: 10px;
            }
        } 

        &-desc {
            font-size: .85rem;
            opacity: .85;
        }
    }
}

/* animations */
@keyframes fade-in-blurred-memoji {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fade-out-blurred-memoji {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}