@use '../../utils/variables' as v;
@use '../../utils/functions' as f;
@use '../../utils/mixins' as *;

.projects {
    @extend %section;
    margin-bottom: 110px;
    outline: 1px solid #0f0;

    width: 100%;

    &-container {
        width: 100%;
        max-width: 820px;
    }

    @media(min-width: 650px) and (max-width: 1022px) {
        padding: 110px 50px 20px 50px; 
    }

    @media (min-width: 1023px) {
        margin-bottom: 130px;
    }
}
