@use '../../utils/variables' as v;
@use '../../utils/functions' as f;
@use '../../utils/mixins' as *;

.projects-container {
    width: 100%;
    max-width: 820px;
}

.projects {
    @extend %section;
    width: 100%;

    &__view-all {
        width: 100%;
        max-width: 860px;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: underline;
        transition: transform .3s;
        
        a, img {
            opacity: .8;
            transition: transform .3s, opacity .2s;
        }

        a:hover, a:hover ~ img {
            opacity: 1;
            transform: translateX(15px);
        }

        a:hover ~ img {
            transform: scale(1.2) translateX(15px);
        }
    }
}
