
@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;

.wave {
    &__letter {
      position: relative;
      display: inline-block;
  
      animation-name: inherit;
      animation-duration: .9s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      // filter: opacity(0);
  
      transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
      will-change: opacity, filter;
    }
  
    @media (min-width:1023px) {
      font-size: 2rem;
    }
  }
  
  @keyframes waveTextAnimation {
    0% {
      transform: translateY(40px);
      // filter: opacity(0) blur(8px);
      filter: blur(8px);
  
    }
    50% {
      transform: translateY(-40px);
  
    }
    100% {
      transform: translateY(0);
      // filter: opacity(1) blur(0);
      filter: blur(0);
    }
  }

.text-reveal {
  position: relative;
  width: max-content;
  height: 57px;

  overflow: hidden;
  // // // // // // outline: 1px solid #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
      display: inline-block;
      width: 100%;
      height: 57px;
      animation-name: swipeUpText;
      animation-duration: 500ms;
      animation-delay: 740ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      transform: translateY(70px);
      will-change: transform;
  }
  
  &::after {
    z-index: 50;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    
    width: calc(100% + 25px);
    height: 57px;
    display: inline-block;
    background-color: f.getColor('yellow-contrast');
    animation-name: swipeBox;
    animation-duration: 1.1s;
    animation-timing-function: cubic-bezier(.85,.16,.18,.94);
    transform: translateX(-110%);
    will-change: transform;
  }
}

@keyframes swipeBox {
  0% {
      transform: translateX(-100%);
  }
  60% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(100%);
  }
}

@keyframes swipeUpText {
  0% {
      transform: translateY(70px);
      filter: opacity(0);
      // opacity: 0;
  }
  100% {
      transform: translateY(0px);
      filter: opacity(1);
      // opacity: 1;
  }
}


/* sections */
.slide-in-blurred {
  animation-name: slide-in-blurred;
  animation-duration: .55s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  // filter: opacity(0);
  opacity: 0;
  will-change: transform, filter, opacity;
}

@keyframes slide-in-blurred {
  0% {
      transform: translateY(-50px);
      filter: blur(5px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}

.slide-right-blurred {
  animation-name: slide-right-blurred;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0;
  transform: translateX(-50px);
  will-change: transform, filter;
}

@keyframes slide-right-blurred {
  0% {
      transform: translateX(-30px);
      filter: blur(5px);
  }
  100% {
      transform: translateX(0);
      filter: blur(0);
      opacity: 1;
  }
}

.slide-down-blurred {
  animation-name: slide-down-blurred;
  animation-duration: .55s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0;
  will-change: transform, filter;
}

@keyframes slide-down-blurred {
  0% {
      transform: translateY(-30px);
      filter: blur(5px);
  }
  100% {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}

.fade-in-blurred {
  animation-name: fade-in-blurred;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes fade-in-blurred {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .4;
  }
}

.fade-out-blurred {
  animation-name: fade-out-blurred;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes fade-out-blurred {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fade-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.fade-in-blurred-secondary {
  animation-name: fade-in-blurred;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  will-change: opacity;
}

@keyframes fade-in-blurred {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
