
@use '../utils/variables' as v;
@use '../utils/functions' as f;

.burger-pos {
  z-index: 30;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media(min-width: 780px) {
    display: none;
  } 
}