@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.gradient {
    width: max-content;
    min-width: 126.333px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 10px;

    font: {
      size: 0.8rem;
      family: "Space Grotesk", sans-serif;
    }
    color: #000;
  
    &--dev {
      position: absolute;
      top: 73%;
      right: 0;
      background: linear-gradient(
        0deg,
        rgba(200, 222, 253, 1) 0%,
        rgba(218, 232, 254, 1) 100%
      );
      overflow: hidden;
    }
}
  