@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;

    &--arrow-ne {
        filter: invert(1);
    }

    &--link {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 15px;
    }
    
}

.icon-sm {
    width: 29px;
    height: 29px;
}

.icon-med {
    width: 38px;
    height: 38px;
}
.solid-icon {
    @extend %icon;    

    &--github {
        @include background-with-url("./src/assets/icons/solid/github.svg", 
                                     "./src/assets/icons/solid/active/github-active.svg");
    }

    &--link {
        @include background-with-url("./src/assets/icons/solid/link.svg", 
                                     "./src/assets/icons/solid/active/link-active.svg");
    }

    &--twitter {
        @include background-with-url("./src/assets/icons/solid/twitter.svg",
                                     "./src/assets/icons/solid/active/twitter-active.svg");
    }

    &--linkedin {
        @include background-with-url("./src/assets/icons/solid/linkedin.svg", 
                                     "./src/assets/icons/solid/active/linkedin-active.svg");
    }

    &--mail {
        @include background-with-url("./src/assets/icons/solid/send-email.svg", 
                                     "./src/assets/icons/solid/active/send-email-active.svg");
    }
}