@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;

    &--card{
        z-index: 50;
        position: relative;
        transition: transform .1s ease-in;
    }

    &--arrow-ne {
        filter: invert(1);
    }

    &--link {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 15px;
    }
}

.icon-small {
    width: 29px;
    height: 29px;
}

.icon-medium {
    width: 38px;
    height: 38px;
}

.regular-icon {
    @extend %icon;    

    &:hover {
        transform: translateY(-5px);
    }

    &--github {
        @include background-with-url("../../assets/icons/regular/github.svg", 
                                     "../../assets/icons/regular/active/github-active.svg");
    }

    &--twitter {
        @include background-with-url("../../assets/icons/regular/twitter.svg",
                                     "../../assets/icons/regular/active/twitter-active.svg");
    }

    &--linkedin {
        @include background-with-url("../../assets/icons/regular/linkedin.svg", 
                                     "../../assets/icons/regular/active/linkedin-active.svg");
    }
}

.solid-icon {
    @extend %icon;    

    &:hover {
        transform: translateY(-5px);
    }

    &--github {
        @include background-with-url("../../assets/icons/solid/github.svg", 
                                     "../../assets/icons/solid/active/github-active.svg");
    }

    &--twitter {
        @include background-with-url("../../assets/icons/solid/twitter.svg",
                                     "../../assets/icons/solid/active/twitter-active.svg");
    }

    &--linkedin {
        @include background-with-url("../../assets/icons/solid/linkedin.svg", 
                                     "../../assets/icons/solid/active/linkedin-active.svg");
    }

    &--mail {
        @include background-with-url("../../assets/icons/solid/send-email.svg", 
                                     "../../assets/icons/solid/active/send-email-active.svg");
    }
}