@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;


.link {
    display: block;
}

.external-link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding: 0px 15px 0 4px;

    transition: transform .3s;
    color: inherit;
}

.external-link:hover > .icon--link {
    transform: rotate(-10deg);
}

