@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;


.link {
    display: block;
}

.external-link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding: 0px 15px 0 4px;

    transition: transform .3s;
    color: inherit;
}

.external-link:hover > .icon--link {
    transform: rotate(-10deg);
}

.main-link {
    width: 100%;
    max-width: 150.97px;
    padding: 14px 30px;
    border-radius: 5px;
    text-align: center;

    border: 1px solid f.getColor('yellow-contrast');

    font-weight: 300;
    font-size: .8rem;
    transition: background 0.3s;
    color: f.getColor('yellow-contrast');

    will-change: background;

    &:hover {
        background-color: f.getColor('yellow-contrast-hover');
    }

    &:visited {
        color: f.getColor('yellow-contrast');
    }
}

.mail-link {
    font: {
      family: 'Rubik', sans-serif;
      weight: 300;
      size: .7rem
    }

    color: f.getColor('light-gray');
    transition: transform .3s, color .3s;
    will-change: transform, color;

    &:hover {
        transform: translateY(-5px);
        color: f.getColor('yellow-contrast');
    }
}
