@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as *;

.navbar {
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  
  @media (max-width: 780px) {
    flex-direction: column;
    gap: 25px;
  }

  @media(min-width: 780px) {
    margin-bottom: 0;
    height: 100%;
    flex-direction: row;
    height: max-content;
    align-items: center;
    gap: 55px;
  }

  @media (max-width: 779px) {
    width: max-content;
    height: 50%;
    text-align: center;
    display: flex;
    gap: 42px;
    justify-content: center;
    font-size: 1.9rem;
  }

  &__item {
    display: block;
  }
  
  &__title {
    display: block;
    // font-size: inherit;
    line-height: 20px;
    color: #c6c8d8;
    transition: color .3s;

    &:hover {
      color: f.getColor('link-color-active');
    }
  
    @media(min-width: 650px) {
      font-size: inherit;
    }
  }
}