@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;
@use '../utils/extends' as *;

.underline {
    display: inline;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    transition: background 500ms ease-in-out, color .8s;

    &--yellow {
      color: f.getColor('yellow-contrast');
      background-image: linear-gradient(#ffd461, #ffd461);
    }

    &:hover {
      background-size: 100% 1px;
    }
}



// .gradient {
//     width: max-content;
//     min-width: 126.333px;
//     height: 45px;
//     padding: 10px 20px;
//     border-radius: 10px;

//     font: {
//       size: 0.8rem;
//       family: "Space Grotesk", sans-serif;
//     }
//     color: #000;
  
//     &--dev {
//       position: absolute;
//       top: 73%;
//       right: 0;
//       background: linear-gradient(
//         0deg,
//         rgba(200, 222, 253, 1) 0%,
//         rgba(218, 232, 254, 1) 100%
//       );
//       overflow: hidden;
//     }
// }
  

.contrast-box {
    display: inline-block;
    width: max-content;
    background-color: #27314d;
    padding: 3px 8px;
    font-size: .8rem;
    font-weight: 300;
    color: f.getColor('yellow-contrast')
}