@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;


.typerwriter {
    position: relative;
    animation: typing 2s steps(5), blink .5s step-end infinite alternate;

    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

    @keyframes typing {
        from {
          width: 0
        }
    }
          
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
}
