@use './variables' as v;
@use './functions' as f;

%section {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 85px 22px; 

}

%centered {
    display: grid;
    place-items: center;
}

%icon {
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
    transition: transform .3s ease, background-image .2s;
}