@use '../utils/variables' as v;
@use '../utils/functions' as f;


@mixin margin($bottom) {
    margin-bottom: $bottom 
}

%section {
    width: 100%;
    display: grid;
    place-items: center;
}

%centered {
    display: grid;
    place-items: center;
}

@mixin background-with-url($image-url, $hover-image-url) {
    background-image: url($image-url);
    &:hover {
      background-image: url($hover-image-url);
    }
}