
$shadow: 1px 1px 10px rgba(0 0 0 / 0.1);
$weights: 300, 400, 500, 600, 700;

$theme-default: (
    // titles 
    'title-color-primary': #fff,
    'title-color-secondary': #373530,

    // texts
    'text-color-primary': #e4ded7, 
    'text-color-secondary': #7f818c,

    // backgrounds
    'bg-color-primary': #0E1016,
        
    // cards
    'card-bg': #212531,
    'card-title': #fff,
    'card-snd-text':  #95979d,

    // links
    'link-color': #9c9eae,
    'link-color-active': #fff,

    // contact
    'contact-main-title': #0E1016,

);

$fonts: (
    'title-font': "'Mona-Sans', sans-serif",
    'title-font-narrow': "'Mona-Sans Narrow', sans-serif",
    'main-font': "'Syne', sans-serif"
)