
$shadow: 1px 1px 10px rgba(0 0 0 / 0.1);
$weights: 300, 400, 500, 600, 700;

$theme-default: (
    // titles 
    'title-color-primary': #fff,
    'title-color-secondary': #373530,

    // texts
    'text-color-primary': #e4ded7, 
    'text-color-secondary': #7f818c,

    // backgrounds
    'bg-color-primary': #0E1016,
    'bg-color-secondary': #343a4e,
    'about-bg-color': #f1f0f0,
        
    // cards
    'card-bg': #212531,
    'card-title': #fff,
    'card-snd-text':  #95979d,

    // links
    'link-color': #9c9eae,
    'link-color-active': #fff,

    // contact
    'contact-main-title': #0E1016,

    // gradients
    'yellow-gradient':  "background: linear-gradient(to right, #FFEE92 0%, #ffc74e 100%)",
    'blue-gradient':  "background: linear-gradient(0deg, rgba(204,204,255,1) 0%, rgba(218,232,254,1) 100%)",

    // secondary
    'yellow-contrast': #ffd461,
    'yellow-contrast-hover': #916c062b,
    'light-gray': #a8b2d1
);

$fonts: (
    'title-font': "'Mona-Sans', sans-serif",
    'title-font-narrow': "'Mona-Sans Narrow', sans-serif",
    'main-font': "'Syne', sans-serif"
)