@font-face {
    font-family: "Syne Bold";
    src: url("../../assets/fonts/Syne/Syne-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../../assets/fonts/Mona_Sans/Mona-Sans-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans Narrow";
    src: url("../../assets/fonts/Mona_Sans/Mona-Sans-BlackNarrow.woff2") format("woff2");
    font-display: swap;
}