
@use '../utils/variables' as v;
@use '../utils/functions' as f;
// @use '../utils/mixins' as *;

html {
    font-size: 16px;
}

body {
  font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 1000px) {
    html {
      font-size: 1.4rem;
    }
}

.greeting {

    &-hello {
      margin-bottom: 4px;
      font-size: 1.2rem;
      font-family: 'Space Grotesk', sans-serif;
      color: f.getColor('title-color-primary');
    } 

    &-name {
      outline: 1px solid rgb(0, 255, 0);

      margin-bottom: 30px;
      line-height: 50px;
      
      font: { 
        weight: 800;
        // size: 3.85rem;
        size: 3rem;
        family: 'Space Grotesk', sans-serif;
      }

      background: #FFEE92;
      background: linear-gradient(to right, #FFEE92 0%, #ffc74e 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @media(min-width:860px) and (max-width: 1369px) {
        line-height: 74px;
      }


      @media (min-width: 1370px) {
        font-size: 4.3rem;
        line-height: 95px;
        background-color: red;
      }


    }
}

.title {
  font-family: 'Space Grotesk', sans-serif;
  color: f.getColor('title-color-primary');
  filter: opacity(0);

  &--principal {
    font-size: 2rem;

    //   display: block;
  //   position: relative;
  //   width: max-content;
  //   height: 57px;
  //   outline: 1px solid #fff;
  //   margin-bottom: 25px;

  //   // @media (min-width:1023px) {
  //   //   font-size: 2rem;
  //   // }
  }
  
  &--about {
    color: f.getColor('title-color-secondary');

    @media (min-width: 560px) {
      font-size: 2rem;
    }
  }
  
  &--contact {
    color: f.getColor('title-color-primary');
  }
}

.text {
  font-weight: 400;

  @media( min-width:575px ) {
    line-height: 28px;
  }

  &--principal {
    font-size: .9rem;
    line-height: 30px;
    color: rgba($color: #fff, $alpha: 0.8);
    font-weight: 300;
  }

  &--secondary {
    position: relative;
    z-index: 10;

    margin-bottom: 15px;
    line-height: 30px;
    font-size: .89rem;  
    color: #5e6b82;
  }
}

/* animations */
.text--principal {
  animation-delay: .55s;
}