    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;

    .blurred {
        filter: blur(5px);
    }

    .main {
        position: relative;
        max-width: 1150px;
        transition: filter .3s ease-in-out;
        padding-top: 1px;

        @media(min-width: 1023px) {
            width: 80%;
            margin: 0 auto;
        }
        outline: 1px solid #Fff;
    }

    // .hidden {

    //     opacity: 0;
    //     transform: translateY(15px);
    //     transition: all .5s;
    // }

    // .show {
    //     transform: translateY(0px);
    //     opacity: 1;
    // }

    // .hidden-card {
    //     filter: opacity(0%);
    //     transform: translateY(15px);
    //     transition: all .5s;
    // }

    // .show-card {
    //     filter: opacity(100%);
    //     transform: translateY(0px);
    // }