    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;

    .show {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
    }

    .main {
        position: relative;
        max-width: 1150px;
        transition: filter .3s ease-in-out;
        padding-top: 85px;

        @media(min-width: 1023px) {
            width: 80%;
            margin: 0 auto;
        }

        @media(min-width:1024px) {
            padding-top: 110px;
        }
        // outline: 1px solid #Fff;
    }

