@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as *;

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.main {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 65px;

    section:not(.home):not(.about):not(.wrapper) {
        max-width: 1390px;
    }

    section:not(.wrapper) {
        padding: 60px 12px;

        @media (min-width: 700px) {
            padding-right: 42px;
            padding-left: 42px;
        }
    }

    section.home {
        @media(min-width: 850px) {
            padding-right: 25px;
            padding-left: 25px;         
        }
    }
}

